<footer class="page-footer mt-auto font-small bg-secondary pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h5 class="text-white font-weight-bold">
                    Para mais informações
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="contato">
                    <li>
                        <a href="https://github.com/tiagohiga/" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/tiagohiga/" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © Copyright: </span>
        <a class="text-light" target="_blank" href="https://github.com/tiagohiga/">Tiago Higa
        </a>
    </div>
</footer>