ul.contato{
    list-style: none;
    padding: 0;
}

ul.contato li{
    display: inline;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.fa{
    font-size: 35pt;
    color: #FFFFFFFF;
}

.fa:hover{
    color: rgb(176, 237, 248);
}